* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hero__section {
  background: url(images/heroSectionBackground.png);
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 65vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  padding: 16px 150px;
}

.navbar__menu_container {
  display: flex;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: medium;
}

.navbar__menu_container .user__icon {
  color: rgb(242, 51, 51);
  height: 30px;
  width: 30px;
  display: none;
  border: 1px solid rgb(242, 51, 51);
  border-radius: 100%;
}

.hero__section_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: calc(65vh - 65px);
}

.hero__section_logo {
  width: 300px;
}

.hero__section_title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.hero__section_input_container {
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
  border-radius: 10px;
}

.input_container_location,
.input_container_search {
  padding: 5px;
  border: none;
  outline: none;
}

.input_container_location {
  width: 35%;
  border-right: 2px solid #e0e0e0;
}

.input_container_search {
  width: 65%;
}

.container {
  margin: 2rem auto;
  width: 80%;
}

.we__offer {
  margin-top: 50px;
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;
  align-items: center;
  justify-content: center;
}

.we__offer_card {
  min-width: 27%;
  /* height: auto; */
  height: 238px;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
}

.we__offer_card:hover {
  transform: scale(1.06);
}

.we__offer_card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.we__offer_content {
  padding: 10px;
}

.we__offer_content h2 {
  font-size: 20px;
  font-weight: 400;
}

.we__offer_content p {
  font-size: 12px;
}

.collections {
  margin-top: 100px;
  width: 100%;
  overflow-x: hidden;
  /* overflow: hidden; */
}

.collections h1 {
  font-size: 36px;
  font-weight: 400;
  color: rgb(25, 25, 25);
  margin-left: 100px;
}

.sub__heading_container {
  margin-left: 100px;
  width: 100%;
  color: rgb(88, 88, 88);
  font-size: 18px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub__heading_container span:nth-child(2) {
  color: #ff7e8b;
  font-size: 13px;
  cursor: pointer;
}

.collections .collection_card_container {
  margin-left: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin-top: 1.5rem;
}

.collection_card_container > .card {
  height: 300px;
  min-width: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  position: relative;
}

.card1 {
  background-image: url("https://b.zmtcdn.com/data/collections/1acd482d65746effd080991422b0190d_1537338533.jpg?output-format=webp");
}

.card2 {
  background-image: url("https://b.zmtcdn.com/data/collections/f60eb469dbcdadaaa48c8be4f5ba48b3_1646040538.png?output-format=webp");
}

.card3 {
  background-image: url("https://b.zmtcdn.com/data/collections/14fa741ee65b838680a95a4cd7b9faa4_1582201565.jpg?output-format=webp");
}

.card4 {
  background-image: url("https://b.zmtcdn.com/data/collections/420f473015c7d64962b60bb355828192_1613380120.jpg?output-format=webp");
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.1) 40%
  );
}

.collection_card_container .card .content {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 12px 16px;
  font-size: 0.9rem;
}

.content h4 {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.get__the_app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 251, 247);
  width: 100%;
  padding: 3rem 6rem;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.get__the_app .semiContainer {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.get__the_app .semiContainer .left {
  flex: 2;
}

.get__the_app .semiContainer .left img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.get__the_app .semiContainer .right {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right h1 {
  font-weight: 500;
  font-size: 2rem;
}

.right p {
  font-size: 1rem;
}

.semiContainer .right .radio__buttons_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.semiContainer .right .radio__buttons_container div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.semiContainer .right .radio__buttons_container div input {
  height: 15px;
  width: 15px;
  accent-color: rgb(239, 79, 95);
}

.semiContainer .right .input_container {
  display: flex;
  gap: 0.5rem;
}

.input_container {
  flex-wrap: wrap;
}

.input_container button,
.input_container input {
  padding: 10px 12px;
}

.input_container input {
  flex: auto;
  border: 1.5px solid gray;
  outline: none;
  border-radius: 5px;
}

.input_container button {
  border: none;
  background-color: rgb(239, 79, 95);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.right .download__app_container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.download__app_container h5 {
  font-weight: 400;
  color: gray;
}

.download__app_container div {
  display: flex;
  gap: 1rem;
}

.download__app_container div img {
  width: 35%;
}

.footer {
  width: 100%;
  padding-top: 50px;
  background-color: #f7f7f7;
}

.footer_section1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer_section1 img {
  width: 120px;
}

.section1__button_container {
  display: flex;
  gap: 1rem;
}

.section1__button_container button {
  padding: 5px;
  width: 90px;
  border: 1px solid gray;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.navigation_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80%;
  margin: auto;
  gap: 1rem;
  padding: 3rem 0;
}

.link__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link__container img {
  width: 70%;
}

.link__container h5 {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 5px;
  letter-spacing: 0.8px;
}

.footer__link {
  text-decoration: none;
  color: gray;
  font-size: 14px;
  font-weight: 300;
}

.footer__link:hover {
  color: black;
}

.social__links_container {
  display: flex;
  gap: 0.5rem;
}

.social__links_container button {
  background-color: black;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social__links_container button i {
  color: white;
  font-size: 13px;
}

.footer__section_logos {
  width: 100%;
}

.disclamer {
  margin: auto;
  margin-top: 10px;
  width: 80%;
  font-weight: 400;
  font-size: 13px;
  color: gray;
  border-top: 1px solid gray;
  padding-top: 2rem;
}

.explore {
  margin: 0px auto;
  width: 80%;
}

.explore_heading {
  margin: 15px 5px;
  font-size: 30px;
  font-weight: 400;
  color: rgb(45, 45, 45);
}

.explore_flex {
  display: flex;
  flex-direction: column;
}

.explore_button {
  background-color: white;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 0.5px 0.5px rgb(233, 233, 233);
  text-align: left;
  padding: 1.3rem;
  font-size: 19px;
  font-weight: 300;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .hero__section {
    min-height: 80vh;
  }

  .navbar__menu_container {
    padding: 0px;
  }

  .navbar__menu_container .user__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar__menu_container .link {
    display: none;
  }

  .navbar {
    padding: 16px;
  }

  .hero__section_input_container {
    flex-direction: column;
    background-color: transparent;
    width: 100%;
  }

  .hero__section_container {
    height: calc(80vh - 65px);
  }

  .input_container_location,
  .input_container_search {
    padding: 15px;
    border-radius: 10px;
    width: 95%;
  }

  .hero__section_logo {
    width: 50%;
  }

  .hero__section_title {
    font-size: 20px;
    width: 80%;
  }
}

@media only screen and (max-width: 1300px) {
  .get__the_app .semiContainer .left,
  .get__the_app .semiContainer .right {
    flex: 1;
  }

  .get__the_app .semiContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 900px) {
  .get__the_app {
    padding: 2rem;
  }

  .get__the_app .semiContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .get__the_app {
    padding: 3rem 0rem;
  }

  .get__the_app .semiContainer {
    width: 80%;
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .navigation_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .sub__heading_container {
    width: 80%;
    margin-left: auto;
  }

  .collections h1 {
    margin-left: 85px;
  }

  .collection_card_container {
    margin: auto;
  }

  .navigation_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .display_hidden {
    display: none;
  }
}
